.Chat-container{
    background-color: white;
    /* margin: 1.2rem; */
    height: 100%;
    color: black;
}
.Receiver-Name{
    background: linear-gradient(to bottom right, #7d3c98, #2980b9);
    border: 1px solid purple;
    padding: 1rem;
    color: white;
    padding-left: 4rem;
    font-size: 1.5rem;
    font-weight: 500;
    width: 100%;
}
.chat-area{
    border: 1px solid black;
    padding: 1rem;
    width: 100%;
}
.send-message{
    border: 1px solid black;
    padding: 1rem;
    width: 100%;
}
.send-button{
    color: white;
    padding: 0.6rem;
    background: linear-gradient(to bottom right, #7d3c98, #2980b9);
    border-radius: 10px;
    width: 5rem;
    border: 1px solid white;
}
.chat-area {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.message {
    max-width: 60%;
    padding: 8px 12px;
    border-radius: 15px;
    margin: 5px 0;
    word-wrap: break-word;
}

.received {
    align-self: flex-start;
    background: linear-gradient(to bottom right, #7d3c98, #2980b9);
    color: white;
    border-bottom-right-radius: 5px;
}

.sent {
    align-self: flex-end;
    background-color: #e5e5ea;
    color: black;
    border-bottom-left-radius: 5px;
}
