.slider{
    height: 40px;
    border: 2px solid white;
    border-radius: 20px;
}

.thumb{
    background-color: white;
    cursor:pointer;
    width:40px;
    height: 40px;
    border-radius: 20px;
}

.slider.green{
    border: 2px solid #4aec8c;
}
.slider.green .thumb{
    background-color: #4aec8c;
}
 .CircularProgressbar {
    width: 100%;
    vertical-align: middle;
  }
  
  .CircularProgressbar .CircularProgressbar-path {
    stroke: #3e98c7;
    stroke-linecap: round;
    -webkit-transition: stroke-dashoffset 0.5s ease 0s;
    transition: stroke-dashoffset 0.5s ease 0s;
  }
  
  .CircularProgressbar .CircularProgressbar-trail {
    stroke: #d6d6d6;
    stroke-linecap: round;
  }
  
  .CircularProgressbar .CircularProgressbar-text {
    fill: #3e98c7;
    font-size: 20px;
    dominant-baseline: middle;
    text-anchor: middle;
  }
  
  .CircularProgressbar .CircularProgressbar-background {
    fill: #d6d6d6;
  }

  .CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-background {
    fill: #3e98c7;
  }
  
  .CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-text {
    fill: #fff;
  }
  
  .CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-path {
    stroke: #fff;
  }
  
  .CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-trail {
    stroke: transparent;
  }

  .meditation-container{
    width: 30vw;
  }

  .bg-color{
    background-color: linear-gradient(to bottom right,#2980b9, #7d3c98);
  }